<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mybatis.dao.CatMapper">

    <select id="getCatById" parameterType="Integer" resultType="Cat">
        SELECT * FROM tbl_cat WHERE id = #{id}
    </select>
    
    <select id="updateCat" parameterType="Cat" >
        Update tbl_cat set description = #{description} WHERE id = #{id}
    </select>


</mapper>