<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mybatis.dao.EmployeeMapper">

    <insert id="addEmployee" parameterType="Employee" useGeneratedKeys="true" keyProperty="id">
        insert into mybatis_emp(`name`,salary,dept_id) VALUES (#{name},#{salary},#{department.id})
    </insert>


    <resultMap id="resultMap" type="Employee">
        <id column="id" property="id"></id>
        <result column="name" property="name"></result>
        <result column="salary" property="salary"></result>
        <association property="department" column="dept_id" javaType="Department" select="mybatis.dao.DepartmentMapper.getDepartmentById"></association>
    </resultMap>
    <select id="getEmployeeById" parameterType="int" resultMap="resultMap">
      select * from mybatis_emp WHERE id = #{id}
    </select>


    <select id="getEmployeeByDeptId" parameterType="int" resultMap="resultMap">
      select * from mybatis_emp where dept_id = #{deptId}
    </select>
    

</mapper>